<!DOCTYPE html>
<html lang="en">
<head>
  <title>Objective | Your Tasks</title>

  <meta charset="UTF-8">

  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="apple-mobile-web-app-title" content="Objective">

    <!-- Icons -->

    <!-- iOS 7 iPad (retina) -->
    <link href="assets/images/AppleTouchIcons/152x152.png"
      sizes="152x152"
      rel="apple-touch-icon">

    <!-- iOS 6 iPad (retina) -->
    <link href="assets/images/AppleTouchIcons/144x144.png"
      sizes="144x144"
      rel="apple-touch-icon">

    <!-- iOS 7 iPhone (retina) -->
    <link href="assets/images/AppleTouchIcons/120x120.png"
      sizes="120x120"
      rel="apple-touch-icon">

    <!-- iOS 6 iPhone (retina) -->
    <link href="assets/images/AppleTouchIcons/114x114.png"
      sizes="114x114"
      rel="apple-touch-icon">

    <!-- iOS 7 iPad -->
    <link href="assets/images/AppleTouchIcons/76x76.png"
      sizes="76x76"
      rel="apple-touch-icon">

    <!-- iOS 6 iPad -->
    <link href="assets/images/AppleTouchIcons/72x72.png"
      sizes="72x72"
      rel="apple-touch-icon">

    <!-- iOS 6 iPhone -->
    <link href="assets/images/AppleTouchIcons/57x57.png"
      sizes="57x57"
      rel="apple-touch-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href='/assets/styles/css/normalize.css'>
  <%- stylesheets %>

</head>
<body>
  <header>
    <div class="container cf">
    <div class="branding">
      <a href="/"><img class="objlogo" src="assets/images/ObjectiveLogo.svg"></a>
    </div>
    <div class="user">
      <img class="userpic" src="http://graph.facebook.com/<%=facebookId%>/picture?type=normal">
       <span class="username"><p><%= firstName %></p><span class="arrow-down"></span></span>
    </div>
    <div class="user-menu">
      <a href="settings"><li>Settings</li></a>
      <a href="#bookmarklet"><li>Bookmarklet</li></a>
      <a href="logout"><li>Sign Out</li></a>
    </div>
  </header>
  <%- body -%>
  <%- scripts %>
  <script>
    $(document).ready(function(){
      $('header .user').mouseenter(function() {
        $('.user-menu').fadeIn('300');
      });
      $('header .user').click(function() {
        $('.user-menu').fadeIn('300');
      });
      $('.user-menu').mouseleave(function() {
        $('.user-menu').fadeOut('300');
      });
      $('.bookmarklet').mouseenter(function() {
        $('.bookmarklet-explain').slideDown('300');
        $('.close').addClass('lower');
      });
      $('body').mouseleave(function() {
        $('.bookmarklet-explain').slideUp('show');
        $('.close').removeClass('lower');
      });
    });
  </script>
</body>
</html>