<% layout('layout') -%>
<% stylesheet('/assets/styles/css/normalize.css') -%>
<% stylesheet('/assets/styles/css/taskboard.css') -%>

	<main class="tasklist">
		<div class="tasklistcontainer" id="masonryContainer">
		<div class="grid-sizer"></div>
		<div class="gutter-sizer"></div>
	<% if (tasks.length == 0) { %>
		<a  class="no-tasks" href="#bookmarklet"><p>You don't have any tasks!<br>Tap here for instructions on easily adding tasks to you task list.</p></a>
	<% } else { %>
	<% tasks.forEach(function(task, i){ %>
	<div class="taskitem cf">
		<div class="itemleft">
			<a href="http://<%= task['URL'] %>" target="_blank"><img class="taskicon" src="http://objective.getfavicon.appspot.com/<%= task['faviconurl'] %>?defaulticon=http://getobjective.com/assets/images/defaultfavicon.png"></a>
			<a class="completebutton" data-id="<%=task['_id']%>">
				<svg class="circle" width="32px" height="32px" viewBox="0 0 32 32"><g class="circlefill" transform="translate(-64.000000, -64.000000)" fill="#444444" fill-rule="evenodd"><path d="M80,96 C88.8365564,96 96,88.8365564 96,80 C96,71.1634436 88.8365564,64 80,64 C71.1634436,64 64,71.1634436 64,80 C64,88.8365564 71.1634436,96 80,96 Z M80.1066667,93.12 C87.2937326,93.12 93.12,87.2937326 93.12,80.1066667 C93.12,72.9196008 87.2937326,67.0933333 80.1066667,67.0933333 C72.9196008,67.0933333 67.0933333,72.9196008 67.0933333,80.1066667 C67.0933333,87.2937326 72.9196008,93.12 80.1066667,93.12 Z M80.1066667,93.12"></path></g></svg>
				<img class="checkmark" src="../assets/images/check.svg">
			</a>
		</div>
		<div class="iteminfo">
			<h1><a href="http://<%= task['URL'] %>" target="_blank"><%=task['name']%></a></h1>
			<% if (task['notes'] != 'null' && task['notes'] != '') { %>
				<p><%= task['notes'] %></p>
			<% } else { %>
				<p><i>No Notes</i></p>
			<% } %>
		</div>
	</div>
	<%}); }%>
	</div>
</main>
<!-- jQuery already included in views/layout.ejs -->
<script src="/assets/scripts/libs/masonry.min.js"></script>
<script>
	$(document).ready(function(){

		var $container = $('#masonryContainer');
		$container.masonry({ gutter: '.gutter-sizer', columnWidth: '.grid-sizer', itemSelector: '.taskitem' });
		$container.masonry('bindResize');

		$('.completebutton').hover(function() {
			$(this).children('.checkmark').toggleClass('active');
		});
		$('.completebutton').click(function() {
			$(this).closest('.taskitem').fadeOut('300', function(){
				$(this).remove();
				$container.masonry();
			});
			$.ajax({
				url: "/delete?id=" + $(this).attr('data-id'),
				type: 'GET',
				success: console.log('Successfully deleted task!')
			});
		});
	});
</script>
